[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"
pylint = "*"
jupyterlab = "*"

[packages]
tensorflow = "*"
pandas = "*"
plotly = "*"
jupyter = "*"
fastapi = "*"
uvicorn = "*"
transformers = "*"
click = "*"
datasets = "*"
tensorflow-datasets = "*"
tqdm = "*"
conllu = "*"
networkx = "*"
scipy = "*"

[requires]
python_version = "3.7"
